ul,
li,
body {
	margin: 0;
	padding: 0;
}

.ttbg {
	background: #06938e;
	height: 88px;
}
.menufocus{
	color: #ffa110 !important;
}
.mid {
	margin: auto;
	width: 1581px;
	text-align: center;
}

.pdt10 {
	padding-top: 10px;
}

.fl {
	float: left;
	margin-left: 250px;
}
.menu1 {
	float: left;
}

.menu1 li {
	padding: 36px 20px 0 20px;
	list-style: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
}
.menu1 a{
text-decoration: none;	
color: #ffffff;
}